#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/*------------------------------------------------------------
 *
 * for Markdown Cheatsheet
 *
 *------------------------------------------------------------*/
.hide {
	display: none !important;
}
#facebox h2 {
	border-bottom: 1px solid #ddd !important;
	font-size: 16px;
	margin: 0 0 10px -10px;
	padding: 0 10px 10px;
	width: 100%;
}
#facebox h3 {
	margin: 0 0 5px;
	color: #000;
	font-size: 14px;
	margin-bottom: 0.5em;
}
#facebox .content {
	width: 800px;
	color: #333;
	text-align: left;
	font: 13.34px/1.2 helvetica,arial,freesans,clean,sans-serif;
	background: -webkit-gradient(linear,0% 0,5% 100%,from(#f4f9fb),to(#fff));
	background: -moz-linear-gradient(100% 100% 107deg,#fff,#f4f9fb);
}
#facebox .mod {
	margin: 0 0 10px;
	padding: 0;
}
#facebox .col {
	float: left;
	margin-right: 10px;
	padding: 0 0 10px;
	width: 260px;
}
#facebox .col:last-child {
	margin: 0;
}
#facebox .rule {
	border-bottom: 1px solid #ddd;
	clear: both;
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	margin-left: -10px;
	padding: 0 10px;
	width: 100%;
}
#facebox .close img {
	opacity: 0.3;
	border: 0 none;
	margin: 0;
}
#facebox p {
	color: #888;
	margin: 0 0 5px;
}
#facebox pre {
	border: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 5px;
	background: none repeat scroll 0 0 #eee;
	border-color: #ddd #eee #eee #ddd;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}